package zone_ui

import (
	"encoding/json"
	model "github.com/witcher-development/deadzone/modules/zone/model"
)

func toJson(zones []model.Zone) string {
	bytes, err := json.Marshal(zones)
	if err != nil {
		panic(err)
	}
	return string(bytes)
}

templ ZonesJSON(zones []model.Zone) {
<script id="zones-data" hx-swap-oob="textContent">
	{{ toJson(zones) }}
</script>
}
